[submodule "DINO[IDEA-端到端检测]/DINO"]
	path = DINO[IDEA-端到端检测]/DINO
	url = https://github.com/IDEACVR/DINO
[submodule "DINOv2/dinov2"]
	path = DINOv2/dinov2
	url = https://github.com/facebookresearch/dinov2.git
[submodule "DINOv1/dino"]
	path = DINOv1/dino
	url = https://github.com/facebookresearch/dino.git
[submodule "FCOS/FCOS"]
	path = FCOS/FCOS
	url = https://github.com/tianzhi0549/FCOS.git
[submodule "YOLOX/YOLOX"]
	path = YOLOX/YOLOX
	url = https://github.com/Megvii-BaseDetection/YOLOX.git
